:root {
    --color-bg: #BDC9FF;
    --color-primary: #AFECE0;
    --wrapper-height: 98vh;
}

/* Basic page style resets */
* {
    box-sizing: border-box;
}
[hidden] {
    display: none !important;
}

/* Import fonts */
@font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

a:visited {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    border-style: none;
}
a:hover {
    background: var(--color-primary);
}

body {
    font-family: HK Grotesk;
    background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: top;
    margin: 0 1rem;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

p {
    font-size: 1.25rem;
}

h1 {
    color: #2800FF;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    margin: 2rem 0 0;
}

form {
    margin: 0.75rem 0;
}
button, input {
    font-family: inherit;
    font-size: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}
input {
    width: 100%;
}
label {
    color: #000000;
    font-weight: bold;
}

h2 {
    color: #2800FF;
}

iframe {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
